[submodule "modules/bayestme"]
	path = modules/local/bayestme
	url = https://github.com/tansey-lab/bayestme.git
	update = merge
[submodule "modules/jhu-spatial"]
	path = modules/local/jhu-spatial
	url = https://github.com/FertigLab/spatial-pipeline
	update = merge
