[submodule "modules/bayestme"]
	path = modules/local/bayestme
	url = https://github.com/tansey-lab/bayestme.git
	update = merge
[submodule "modules/local/spacemarkers"]
	path = modules/local/spacemarkers
	url = https://github.com/DeshpandeLab/SpaceMarkers
	update = merge
[submodule "modules/local/cogaps"]
	path = modules/local/cogaps
	url = https://github.com/FertigLab/CoGAPS
	update = merge
[submodule "modules/local/dpt-visium-notebook"]
	path = modules/local/dpt-visium-notebook
	url = git@github.com:FertigLab/dpt-visium-notebook.git
